<section class="contact-container">
  <div class="contact-text">
    <h1 class="title-contact"> contato /> </h1>
    <p>Se conecte comigo! Minhas redes:</p>
    <ul class="redes">
      <li>
        <p-card [style]="{ width: '180px', height: '120px', color: 'black' }">
          <ng-template pTemplate="header">
            <img class="img-card" alt="Card" src="../../../assets/imgs/github3.jpg" />
          </ng-template>
        </p-card>
      </li>
      <li>
        <p-card [style]="{ width: '180px', height: '120px', color: 'black'}">
          <ng-template pTemplate="header">
            <img class="img-card" alt="Card" src="../../../assets/imgs/linkedin.png" />
          </ng-template>
        </p-card>
      </li>
      <li>
        <p-card [style]="{ width: '180px', height: '120px', color: 'black' }">
          <ng-template pTemplate="header">
            <div class="card-container">
              <img class="img-card" alt="Card" src="../../../assets/imgs/curriculo.png" />
              <div class="overlay">
                <i class="pi pi-download"></i>
                <span class="overlay-text">Download CV</span>
              </div>
            </div>
          </ng-template>
        </p-card>
      </li>
    </ul>
  </div>
</section>
