<div class="about-container">
  <div class="about-text">
    <h1 class="title-about"> sobre mim /> </h1>
    <h2>Hello World, me chamo Thainá Zerbinatti!</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maxime minima, doloremque sunt provident corrupti
      necessitatibus autem soluta aperiam nihil veritatis laborum atque, vel dolorum repellendus placeat? Ipsa, nobis
      natus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, officiis corrupti expedita itaque necessitatibus
      autem eos impedit repudiandae temporibus sed quidem, veniam facilis illum voluptatibus, consequuntur deleniti quis
      quisquam laudantium.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti esse voluptatem, nobis facere cupiditate velit.</p>
  </div>
  <div>
    <img src="" alt="">
  </div>
</div>
