<nav class="navbar">
  <div class="container">
    <div class="imagem-container"><img class="img-thaina" src="../../../assets/imgs/img-thaina.png"></div>
    <div>
      <ul class="container-list">
        <li>
          <a><span routerLink='' class="tooltip" data-tooltip="home"><img class="icons" src="../../../assets/imgs/7.svg" alt=""></span></a>
        </li>
        <li>
          <a><span routerLink="/about" class="tooltip" data-tooltip="sobre mim"><img class="icons" src="../../../assets/imgs/9.svg" alt=""></span></a>
        </li>
        <li>
          <a><span routerLink="/contact" class="tooltip" data-tooltip="contato"><img class="icons" src="../../../assets/imgs/8.svg" alt=""></span></a>
        </li>
        <li>
          <a><span routerLink="/projects" class="tooltip" data-tooltip="projetos"><img class="icons" src="../../../assets/imgs/12.svg" alt=""></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
