<div class="home-container column">
  <div class="home-text">
    <h1 class="home-name typewriter"> Thainá Zerbinatti /> </h1>
    <h2>Desenvolvedora Front-End</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint, cumque? Libero, ratione! Esse porro, doloremque
      quam et beatae veniam eum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, doloribus.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptas? Necessitatibus natus hic sequi quod.</p>
  </div>
</div>
